extends core/base.pug

block title 
  title Заказы

block content

  h1.title.title--mb60 Материально-техническое обеспечение - Личный кабинет РАпарт - Поставка - 
    span Каталог

  include blocks/sort.pug
  +sort

  include blocks/filter.pug

  // table
  .table
    table.table__table

      tr 
        th 
          .table__table-sort 
            input#dateSortTable(type="checkbox", name="dateSortTable")
            label(for="dateSortTable") Дата
              svg(class="icon-pyramid")
                use(xlink:href="img/sprite.svg#pyramid")
        th 
          .table__table-title № Клиента
        th 
          .table__table-sort 
            input#priceSortTable(type="checkbox", name="dateSortTable")
            label(for="priceSortTable") Сумма
              svg(class="icon-pyramid")
                use(xlink:href="img/sprite.svg#pyramid")
        th 
          .table__table-title Приоритет
        th 
          .table__table-title Состояние
        th 
          .table__table-title Оплаты/Отгрузки 

      tr.table__item.js-table-item 
        td 
          .table__table-text 28.12.2021
        td 
          .table__table-text P250222-89096
        td 
          .table__table-text $13,940.40
        td 
          .table__table-text $CRITICAL A (MEL A)
        td 
          .table__table-status.table__table-status--issued Выполнен
        td 
          .table__table-text 0/99
      tr.table__has-table-row
        td(colspan="6").table__has-table-td.js-table-drop 

          .js-tabs.table__tabs

            ul.table__triggers
              li 
                a(href="#tab_0_0").table__trigger.js-tabs-trigger.active Заказ
              li 
                a(href="#tab_0_1").table__trigger.js-tabs-trigger Счет
              li 
                a(href="#tab_0_2").table__trigger.js-tabs-trigger Реализация

            div

              .table__content.js-tabs-content.open(data-href="#tab_0_0")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title P/N
                    th 
                      .table__drop-title.table__text-center Кол-во, ЕИ
                    th 
                      .table__drop-title Сумма USD
                    th 
                      .table__drop-title Цена с НДС / Ставка НДС
                    th 
                      .table__drop-title Дата отгрузки
                    th 
                      .table__drop-title Дата РО
                    th 
                      .table__drop-title Состояние
                  mixin table__drop-item-1(num)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text AS3553-14 Гайка
                      td 
                        .table__drop-small-text.table__text-center 12 шт
                      td 
                        .table__drop-small-text $1,384.14
                      td 
                        .table__drop-small-text $17,384.14 / 0 %
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text 03.03.2022
                      td 
                        .table__table-status.table__table-status--2.table__table-status--issued Отгружен
                  +table__drop-item-1(1)
                  +table__drop-item-1(2)
                  +table__drop-item-1(3)
                  +table__drop-item-1(4)
                  +table__drop-item-1(5)
                  +table__drop-item-1(6)
                  +table__drop-item-1(7)
                  +table__drop-item-1(8)
                  +table__drop-item-1(9)

              .table__content.js-tabs-content(data-href="#tab_0_1")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title Дата
                    th 
                      .table__drop-title.table__text-center Сумма USD
                    th 
                      .table__drop-title Отменен
                    th 
                      .table__drop-title Файл
                    th 
                      .table__drop-title Состояние
                  mixin table__drop-item-2(num)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text.table__text-center $17,384.14
                      td 
                        .table__drop-small-text Нет
                      td 
                        a(href="#").table__drop-file PDF 1.44
                      td 
                        .table__table-status.table__table-status--2.table__table-status--issued Отгружен
                  +table__drop-item-2(1)
                  +table__drop-item-2(2)
                  +table__drop-item-2(3)
                  +table__drop-item-2(4)
                  +table__drop-item-2(5)
                  +table__drop-item-2(6)
                  +table__drop-item-2(7)
                  +table__drop-item-2(8)
                  +table__drop-item-2(9)
                  
              .table__content.js-tabs-content(data-href="#tab_0_2")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title Дата
                    th 
                      .table__drop-title.table__text-center Сумма USD
                    th 
                      .table__drop-title Файл
                    th 
                      .table__drop-title Состояние ЭДО
                  mixin table__drop-item-3(num, addClass, addText)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text.table__text-center $17,384.14
                      td 
                        a(href="#").table__drop-file PDF 1.44
                      td 
                        div(class= addClass)= addText
                  +table__drop-item-3(1, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(2, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(3, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(4, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(5, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(6, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(7, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(8, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(9, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')

      tr.table__item.js-table-item 
        td 
          .table__table-text 28.12.2021
        td 
          .table__table-text P250222-89096
        td 
          .table__table-text $13,940.40
        td 
          .table__table-text $CRITICAL A (MEL A)
        td 
          .table__table-status.table__table-status--wait В работе
        td 
          .table__table-text 0/99
      tr.table__has-table-row
        td(colspan="6").table__has-table-td.js-table-drop 

          .js-tabs.table__tabs

            ul.table__triggers
              li 
                a(href="#tab_1_0").table__trigger.js-tabs-trigger.active Заказ
              li 
                a(href="#tab_1_1").table__trigger.js-tabs-trigger Счет
              li 
                a(href="#tab_1_2").table__trigger.js-tabs-trigger Реализация

            div

              .table__content.js-tabs-content.open(data-href="#tab_1_0")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title P/N
                    th 
                      .table__drop-title.table__text-center Кол-во, ЕИ
                    th 
                      .table__drop-title Сумма USD
                    th 
                      .table__drop-title Цена с НДС / Ставка НДС
                    th 
                      .table__drop-title Дата отгрузки
                    th 
                      .table__drop-title Дата РО
                    th 
                      .table__drop-title Состояние
                  mixin table__drop-item-1(num)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text AS3553-14 Гайка
                      td 
                        .table__drop-small-text.table__text-center 12 шт
                      td 
                        .table__drop-small-text $1,384.14
                      td 
                        .table__drop-small-text $17,384.14 / 0 %
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text 03.03.2022
                      td 
                        .table__table-status.table__table-status--2.table__table-status--issued Отгружен
                  +table__drop-item-1(1)
                  +table__drop-item-1(2)
                  +table__drop-item-1(3)
                  +table__drop-item-1(4)
                  +table__drop-item-1(5)
                  +table__drop-item-1(6)
                  +table__drop-item-1(7)
                  +table__drop-item-1(8)
                  +table__drop-item-1(9)

              .table__content.js-tabs-content(data-href="#tab_1_1")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title Дата
                    th 
                      .table__drop-title.table__text-center Сумма USD
                    th 
                      .table__drop-title Отменен
                    th 
                      .table__drop-title Файл
                    th 
                      .table__drop-title Состояние
                  mixin table__drop-item-2(num)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text.table__text-center $17,384.14
                      td 
                        .table__drop-small-text Нет
                      td 
                        a(href="#").table__drop-file PDF 1.44
                      td 
                        .table__table-status.table__table-status--2.table__table-status--issued Отгружен
                  +table__drop-item-2(1)
                  +table__drop-item-2(2)
                  +table__drop-item-2(3)
                  +table__drop-item-2(4)
                  +table__drop-item-2(5)
                  +table__drop-item-2(6)
                  +table__drop-item-2(7)
                  +table__drop-item-2(8)
                  +table__drop-item-2(9)
                  
              .table__content.js-tabs-content(data-href="#tab_1_2")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title Дата
                    th 
                      .table__drop-title.table__text-center Сумма USD
                    th 
                      .table__drop-title Файл
                    th 
                      .table__drop-title Состояние ЭДО
                  mixin table__drop-item-3(num, addClass, addText)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text.table__text-center $17,384.14
                      td 
                        a(href="#").table__drop-file PDF 1.44
                      td 
                        div(class= addClass)= addText
                  +table__drop-item-3(1, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(2, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(3, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(4, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(5, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(6, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(7, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(8, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(9, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')

      tr.table__item.js-table-item 
        td 
          .table__table-text 28.12.2021
        td 
          .table__table-text P250222-89096
        td 
          .table__table-text $13,940.40
        td 
          .table__table-text $CRITICAL A (MEL A)
        td 
          .table__table-status.table__table-status--new Новый
        td 
          .table__table-text 0/99
      tr.table__has-table-row
        td(colspan="6").table__has-table-td.js-table-drop 

          .js-tabs.table__tabs

            ul.table__triggers
              li 
                a(href="#tab_2_0").table__trigger.js-tabs-trigger.active Заказ
              li 
                a(href="#tab_2_1").table__trigger.js-tabs-trigger Счет
              li 
                a(href="#tab_2_2").table__trigger.js-tabs-trigger Реализация

            div

              .table__content.js-tabs-content.open(data-href="#tab_2_0")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title P/N
                    th 
                      .table__drop-title.table__text-center Кол-во, ЕИ
                    th 
                      .table__drop-title Сумма USD
                    th 
                      .table__drop-title Цена с НДС / Ставка НДС
                    th 
                      .table__drop-title Дата отгрузки
                    th 
                      .table__drop-title Дата РО
                    th 
                      .table__drop-title Состояние
                  mixin table__drop-item-1(num)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text AS3553-14 Гайка
                      td 
                        .table__drop-small-text.table__text-center 12 шт
                      td 
                        .table__drop-small-text $1,384.14
                      td 
                        .table__drop-small-text $17,384.14 / 0 %
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text 03.03.2022
                      td 
                        .table__table-status.table__table-status--2.table__table-status--issued Отгружен
                  +table__drop-item-1(1)
                  +table__drop-item-1(2)
                  +table__drop-item-1(3)
                  +table__drop-item-1(4)
                  +table__drop-item-1(5)
                  +table__drop-item-1(6)
                  +table__drop-item-1(7)
                  +table__drop-item-1(8)
                  +table__drop-item-1(9)

              .table__content.js-tabs-content(data-href="#tab_2_1")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title Дата
                    th 
                      .table__drop-title.table__text-center Сумма USD
                    th 
                      .table__drop-title Отменен
                    th 
                      .table__drop-title Файл
                    th 
                      .table__drop-title Состояние
                  mixin table__drop-item-2(num)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text.table__text-center $17,384.14
                      td 
                        .table__drop-small-text Нет
                      td 
                        a(href="#").table__drop-file PDF 1.44
                      td 
                        .table__table-status.table__table-status--2.table__table-status--issued Отгружен
                  +table__drop-item-2(1)
                  +table__drop-item-2(2)
                  +table__drop-item-2(3)
                  +table__drop-item-2(4)
                  +table__drop-item-2(5)
                  +table__drop-item-2(6)
                  +table__drop-item-2(7)
                  +table__drop-item-2(8)
                  +table__drop-item-2(9)
                  
              .table__content.js-tabs-content(data-href="#tab_2_2")
                table.table__drop
                  tr 
                    th 
                      .table__drop-title №
                    th 
                      .table__drop-title Дата
                    th 
                      .table__drop-title.table__text-center Сумма USD
                    th 
                      .table__drop-title Файл
                    th 
                      .table__drop-title Состояние ЭДО
                  mixin table__drop-item-3(num, addClass, addText)
                    tr 
                      td 
                        .table__drop-small-text= num
                      td 
                        .table__drop-small-text 01.03.2022
                      td 
                        .table__drop-small-text.table__text-center $17,384.14
                      td 
                        a(href="#").table__drop-file PDF 1.44
                      td 
                        div(class= addClass)= addText
                  +table__drop-item-3(1, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(2, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(3, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(4, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(5, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(6, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(7, 'table__table-status table__table-status--2 table__table-status--wait', 'Ожидается подтверждение')
                  +table__drop-item-3(8, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
                  +table__drop-item-3(9, 'table__table-status table__table-status--2 table__table-status--issued', 'Отгружен')
  // /table

  // pagination
  .pagination
    a(href="#").pagination__arrow.pagination__arrow--prev 
      svg(class="icon-arrow-down")
        use(xlink:href="img/sprite.svg#arrow-down")
    ul.pagination__list 
      li 
        a(href="#") 1
      li 
        a(href="#") 2
      li 
        a(href="#").active 3
      li 
        a(href="#") 4
      li 
        a(href="#") 5
      li 
        span ...
      li 
        a(href="#") 12
    a(href="#").pagination__arrow.pagination__arrow--next 
      svg(class="icon-arrow-down")
        use(xlink:href="img/sprite.svg#arrow-down")
  // /pagination

  // modal
  .modal#cartModal
    // cart
    .cart
      .cart__products 
        .cart__head 
          .cart__title Корзина
          .cart__close.js-drop-close(data-drop="cartModal") Скрыть
            .cart__cross 
        .cart__items 
          include blocks/cart-item.pug
          +cart-item('img/products/image-1.jpg', '9005000-55102', 'Компьютер T3CAS', 'Кол-во:  <span>44 шт</span>', 'Нет в наличии', 'от 200 000₽', 'cart--nostock')
          +cart-item('img/products/image-2.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Шайба', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '157 890₽', 'cart--soonstock')
          +cart-item('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Развертка ручная цилиндрическая', 'Кол-во:  <span>12 шт</span>', 'В наличии', '157 890₽')
          +cart-item('img/products/image-9.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Розетка', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '185 800₽', 'cart--soonstock')
          +cart-item('img/products/image-3.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменног...', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '157 890₽', 'cart--soonstock')
      .cart__arrange 
        .cart__subhead 
          .cart__title Общая сумма
          .cart__result 530 820₽
        .cart__all Всего товаров 6 шт
        .cart__text После отправки запроса менеджер свяжется с Вами в ближайшее время
        .cart__btn.btn Оформить заказ
    // /cart
  .modal__overlay
  // /modal